* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

/* Header */
header {
    color: #fff;
    background: #333;
    padding: 10px 7px 10px 5px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 0 2px;
}

a:hover {
    text-decoration: underline;
}

a:active { 
    text-decoration: underline;
}   


.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

header .searchcomponent {
    display: flex;
    width: 300px;
    height: 28px;
    background-color: #666666;
    border-radius: 3px;
}

.inputbar {
    width: 100%;
    padding: 5px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.inputbar::placeholder {
    font-size: 14px;
}

.search-icon {
    width: 40px;
    font-size: 21px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
}

.dropdown-toggle {
    background-color: #333;
    color: #fff;
    font-size: 22px;
    border: none;
    text-decoration: none;
    padding: 0 3px;
    margin-right: 1px;
}

.dropdown-toggle::after {
    margin: 0;
}

.dropdown-menu {
    background-color: rgb(0, 0, 0);
    color: white;
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-hover-color: none;
}

.dropdown-item {
    color: ivory;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* login */
.login-box{
    background-color: rgb(245, 245, 205);
    display: flex;
    width: 100vw;
    height: 680px;
    justify-content: center;
    align-items: center;
}

.bg-image{
    background-image: url("login-image.jpg");
    filter: blur(1px);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 350px;
    border: 5px solid #252525;
    border-radius: 10px;
}

.login-details{
    background-color: #71614f;
    width: 200px;
    height: 170px;
    z-index: 1;
    justify-content: center;
    text-align: center;
    position: absolute;
}

.login-details h4{
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 2px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.details{
    background-color: #a9927d;
    display: flex;
    width: 170px;
    height: 30px;
    padding: 2px 3px;
    margin: auto;
}

.input{
    border: none;
    width: 100%;
    background-color: #a9927d;
}

.submit{
    height: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.submit-btn{ 
    background-color: #a9927d;
    width: 55px;
    height: 25px;
    border: 1px solid transparent;
    text-align: center;
}

.submit-btn:hover{
    border: 1px solid black;
}

/* Footer */
footer{
    background: #333;
    color: #fff;
    width: 100vw;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
}
